@import 'tailwindcss';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --color-primary: #2563eb;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: 'Inter', sans-serif;
  }
}
::view-transition-old(pages-down),
::view-transition-new(pages-down),
::view-transition-old(pages-up),
::view-transition-new(pages-up) {
  animation-duration: 600ms;
  animation-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
}

::view-transition-old(pages-down) {
  animation-name: slide-out-down;
}

::view-transition-new(pages-down) {
  animation-name: slide-in-down;
}

::view-transition-old(pages-up) {
  animation-name: slide-out-up;
}

::view-transition-new(pages-up) {
  animation-name: slide-in-up;
}

@keyframes slide-in-down {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes slide-out-down {
  from {
    opacity: 1;
    transform: translateY(0%);
  }
  to {
    opacity: 0;
    transform: translateY(-50%);
  }
}

@keyframes slide-in-up {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes slide-out-up {
  from {
    opacity: 1;
    transform: translateY(0%);
  }
  to {
    opacity: 0;
    transform: translateY(50%);
  }
}
